body {
  background-color: #2e1089;
  
}

.container {
  background-color: #91f1f6;
  max-width: 450px;
  width: 70%;
  margin: 20px auto;
  border: 5px solid rgb(185, 13, 24);
  padding: 20px 15px 50px 15px;
}
