body {
  background-color: rgb(110, 234, 232);
}

.card {
  background-color: #fae0ec;
  max-width: 200px;
  border: 5px solid transparent;
  margin: 40px auto;
  padding: 20px 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.card-1 {
  border-color: rgba(228, 234, 60, 0.6);


}

.card-2 {
  border-color:  rgba(243, 29, 29, 0.9);


}

.icon {
width: 60px;
height:60px;
border-radius: 50%;
margin:0 auto
}


.card-1 .icon {
  background-color: rgb(228, 234, 60);
}


.card-2 .icon {
  background-color: rgb(243, 29, 29);
}


.btn{
  text-transform: capitalize;
  font-size: 0.7rem;
  font-weight: 550;
  padding: 10PX 14px;
  border-radius: 8px;
  border-color: transparent ;
}

.btn-1{
  color: rgb(228, 234, 60);
  background-color: rgba(228, 234, 60, 0.1025);
  border-color:rgba(228, 234, 60, 0.628) ;
}


.btn-2{
  color: rgba(243, 29, 29, 0.459);
  background-color: rgba(243, 29, 29, 0.223);
  border-color: rgba(243, 29, 29, 0.459);
}