body {
  background-color: 

}

.card {
  max-width: 300px;
  border: 2px solid transparent;
  margin: 32px auto;
  padding: 24px 32px;
  text-align: center;
}

.card-1 icon {
  border-color: 顏色 
}


.card-2 icon {
  background-color: ;
}